{{#each entries as |entry|}}

  <!-- {{> partial}} -->
  <!-- Don't uncomment yet -->

<!-- goal: each entry's information is displayed within an ul with a data-id attribute. -->

 <!-- Developers, why are we using data-id and not just id? -->
  <ul><h1><data-id="{{entry.id}} remove-{{entry.id}}"> <small>Title: {{entry.title}}</small></h1></ul>
  <!-- <div> -->
    {{#if entry.title}}
      <li>Entry ID: {{entry.id}} Title: {{entry.title}}</li>
    {{else}}
      <li>No title.</li>
    {{/if}}
    {{#if entry.backstory}}
      <li>Backstory: {{entry.backstory}}</li>
    {{else}}
      <li>No backstory.</li>
    {{/if}}
    <!-- {{#if entry.cover_img}}
      <li><img src="{{entry.cover_img}}"</li>
    {{else}}
      <li>No image.</li> -->
    {{#if entry.stopper}}
      <li>Stopper: {{entry.stopper}}</li>
    {{else}}
      <li>No stopper.</li>
    {{/if}}
    {{#if entry.status}}
      <li>Status: {{entry.status}}</li>
    {{else}}
      <li>No status.</li>
    {{/if
    {{#if entry.date_added}}
      <li>Backstory: {{entry.date_added}}</li>
    {{else}}
      <li>No date_added.</li>
    {{/if}}
    {{#if entry.date_added}}
      <li>Added on: {{entry.date_added}}</li>
    {{else}}
      <li>No date_added.</li>
    {{/if}}
    <li><button id="removeEntriesButton" class="btn btn-default remove-button" data-id="{{entry.id}}" id="remove-{{entry.id}}">Remove entry!</button></li>
  <!-- </div> -->

{{/each}}
