{{#each entries as |entry|}}

<!-- goal: each entry's information is displayed within an ul with a data-id attribute. -->

 <!-- Developers, why are we using data-id and not just id? -->
  <ul id="delete"><h2><data-id="{{entry.id}}">{{entry.title}}</h1>
      <li>Backstory: {{entry.backstory}}
      <li>Stopper: {{entry.stopper}}
      <li>Status: {{entry.status}}
      <li>ID No.: {{entry.id}}
      <!-- <li>Date Added: {{entry.date_added}}
      <li>Last-Updated: {{entry.updated_at}} -->
      <!-- <li>Hide (Deleted_flag) {{entry.deleted_flag}} -->
  </ul>
{{/each}}
